.active {
    color: #383838 !important; 
    background-color: #fff !important;  
}

.parallax-scene{
    background-color:#383838;
    width: 100%;
    height: 93vh;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;

    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8%;
        background-color: #383838;
        z-index: 1000;

        .initials{
            cursor: pointer;
            padding-left: 12%;
        }

        ul {
            background-color: #383838;
            margin: 0; 
            padding-right: 12%; 
            list-style-type: none; 
            text-align: center; 

            li{
                display: inline; 
                
                a {
                    text-decoration: none; 
                    padding: 0.5em 1em; 
                    color: #fff; 
                    background-color: #383838; 
                    transition: background-color .5s ease;

                    .active {
                        color: #383838 !important; 
                        background-color: #fff !important;  
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

    }

    .description{
        width: 52%;
        text-align: center;

        p{
            margin: 0;
            font-size: 18px;
        }
    }

    
}

