.projects{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header{
        color: dimgray;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .project-images{
        display: flex;
        flex-direction: column;
        width: 60%;
        >div{
            display: flex;
            justify-content: space-between;
            div{
                background-color: blue;
                width: 28vw;
                height: 18vw;
                margin: 5px;
            }
        }
    }
}